<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>More info</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        
        .container {
            width: 70%;
            height: 500px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        #img{
            margin-top: 75px;
            margin-left: 28%;
        }
        #h1{
            margin-left: 40%;
            color: orange;
        }
        #fa{
            color: orange;
        }
        
    </style>
</head>
<body>
    <div class="container">
       <img src="https://i.ibb.co/nRKDFNv/Screenshot-2024-06-05-120657-removebg-preview.png" id="img" alt="">
       <h1 id="h1">Opps! No Orders<i class="fa-solid fa-face-sad-tear" id="fa"></i></h1>
        </div>
    </div>
    
    
</body>
</html>
