<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>more info</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
      
        button {
            background-color: orange;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            margin: 5px;
            margin-left: 45%;
            margin-top: 1%;
        }
        img{
            margin-left: 34%;
            margin-top: 15%; 
        }
        
    </style>
</head>
<body>
   
    
        <img src="https://i.ibb.co/nRKDFNv/Screenshot-2024-06-05-120657-removebg-preview.png"  alt="">
        <button>Add your Products</button>
   
    
    

   
</body>
</html>
